
header {
    display:flex;
    justify-content: center;
}
body {
  width: 100%;
  margin: 0 auto;
}

.sidebar {
    display: flex;
}

.sidebar__sidebar {
    background-color: black;
    width: 30%;
}

.sidebar__main {
    background-color: #567895;
    /* Take the remaining width */
    flex: 1;

    /* Make it scrollable */
    overflow: auto;
}